/*==========================================
              FOOTER
==========================================*/

.footer{
    position:relative;
    overflow:hidden;
     background:linear-gradient(135deg,#111,#1b1b1b,#242424);
    color:#fff;
}

.footer::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:#ce1212;
    filter:blur(180px);
    opacity:.15;
    top:-100px;
    left:-100px;
}

.footer::after{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:#ff6b6b;
    filter:blur(180px);
    opacity:.12;
    bottom:-120px;
    right:-120px;
}

/*==========================================
            CONTAINER
==========================================*/

.footer-container{
    max-width:1300px;
    margin:auto;
}

/*==========================================
              LOGO
==========================================*/

.footer-logo{
    text-align:center;
    margin-bottom:60px;
}

.footer-logo h2{
    font-size:52px;
    font-weight:700;
    margin-bottom:15px;
}

.footer-logo span{
    color:#ce1212;
}

.footer-logo p{
    max-width:650px;
    margin:auto;
    color:#bdbdbd;
    line-height:1.8;
    font-size:17px;
}

/*==========================================
              GRID
==========================================*/

.footer-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}

/*==========================================
              CARD
==========================================*/

.footer-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:35px;

    backdrop-filter:blur(15px);

    transition:.4s;

}

.footer-card:hover{

    transform:translateY(-10px);

    box-shadow:0 15px 35px rgba(206,18,18,.25);

}

.footer-icon{

    font-size:34px;

    color:#ce1212;

    margin-bottom:20px;

}

.footer-card h3{

    margin-bottom:18px;

    font-size:24px;

}

.footer-card p{

    color:#d5d5d5;

    line-height:1.8;

}

/*==========================================
           SOCIAL
==========================================*/

.social-icons{

    display:flex;

    gap:15px;

    margin-top:20px;

}

.social-icons a{

    width:50px;

    height:50px;

    border-radius:50%;

    background:#2c2c2c;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    font-size:20px;

    transition:.4s;

}

.social-icons a:hover{

    background:#ce1212;

    transform:translateY(-8px) rotate(360deg);

}

/*==========================================
        NEWSLETTER
==========================================*/

.newsletter{

    text-align:center;

    margin-top:70px;

}

.newsletter h2{

    font-size:40px;

    margin-bottom:15px;

}

.newsletter p{

    color:#bdbdbd;

    margin-bottom:35px;

}

.newsletter-box{

    max-width:650px;

    margin:auto;

    display:flex;

    background:white;

    border-radius:60px;

    overflow:hidden;

}

.newsletter-box input{

    flex:1;

    border:none;

    outline:none;

    padding:20px;

    font-size:17px;

}

.newsletter-box button{

    border:none;

    background:#ce1212;

    color:white;

    padding:0 35px;

    cursor:pointer;

    display:flex;

    align-items:center;

    gap:10px;

    font-size:17px;

    transition:.4s;

}

.newsletter-box button:hover{

    background:#e61d1d;

}

/*==========================================
          COPYRIGHT
==========================================*/

.copyright{

    margin-top:70px;

    padding-top:30px;

    border-top:1px solid rgba(255,255,255,.1);

    text-align:center;

}

.copyright p{

    color:#bdbdbd;

    margin-bottom:10px;

}

.copyright span{

    color:#ce1212;

    font-weight:600;

}

.copyright h4{

    font-weight:400;

    color:#888;

}
/*==========================================
        NEWSLETTER VALIDATION
==========================================*/

.error-message{
    color:#ff4d4f !important;
    font-size:15px;
    font-weight:500;
    margin-top:15px;
    text-align:center;
}

.success-message{
    color:#28a745 !important;
    font-size:15px;
    font-weight:500;
    margin-top:15px;
    text-align:center;
}


.newsletter-box button{
    cursor:pointer;
    padding: 15px 32px;
    margin: 19px;
}
.newsletter-box input{
        margin: 8px;
}

/*==========================================
       MOBILE (320px - 480px)
==========================================*/

@media screen and (min-width:320px) and (max-width:480px){

.footer{

    padding:60px 20px 30px;

}

.footer-logo h2{

    font-size:38px;

}

.footer-logo p{

    font-size:15px;

}

.footer-grid{

    grid-template-columns:1fr;

    gap:20px;

}

.footer-card{

    padding:25px;

    text-align:center;

}

.footer-card h3{

    font-size:22px;

}

.footer-icon{

    font-size:30px;

}

.social-icons{

    justify-content:center;

}

.newsletter{

    margin-top:50px;

}

.newsletter h2{

    font-size:30px;

}

.newsletter p{

    font-size:15px;

}

.newsletter-box{

    flex-direction:column;

    border-radius:15px;

    background:transparent;

    gap:15px;

}

.newsletter-box input{

    width:100%;

    border-radius:10px;

    padding:16px;

}

.newsletter-box button{

    width:100%;

    justify-content:center;

    border-radius:10px;

    padding:16px;

}

.copyright{

    margin-top:50px;

}

.copyright p{

    font-size:14px;

}

.copyright h4{

    font-size:14px;

}

}

